.login-side-bg {
  background: url(~assets/img/login-bg.png);
  height: 100%;
  width: 60%;
  background-size: cover
}

.main-bg-dark {
  background: url(~assets/img/login-bg2-lighter.png);
  background-size: cover;
}

#login-container {
  width: 100%;
  margin-top: 5%;
}